.square {
  width: 100px;
  height: 100px;
  background: #fff;
  border: 1px solid #222222;
  cursor: pointer;
  outline: none;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.square:hover {
  background: rgb(233, 233, 231);
  transition: 0.3s all ease;
}
